:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #DBECE9;
}
main {
  background-color: #DBECE9;
  user-select: none;
  padding: 3rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* --------------colors-------------- */
.text-white {
  color: #fff;
}
.bg-blue-1 {
  background-color: #e6f4ff
}

.bg-header {
  background-color: #96B7A6;
  /* background-color: #91caff; */
}
/* --------------colors-------------- */
/* --------------spacings-------------- */
.m-0 {
  margin: 0;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
/* ----------- */
.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
/* ----------- */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
/* --------------spacings-------------- */
/* -------- alignment -------------- */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* -------------------------- */

.ant-form-item-label {
  padding-bottom: 0 !important;
}
.ant-form-item-label label {
  font-weight: 600;
}
.todo-item .ant-collapse-content-box {
  padding: 0 !important;
}

.todo-item .item-body {
  border-radius: 0 0 0.8rem 0.8rem;
}
/* -------------------96B7A6 */
.ant-btn-primary {
  background-color: #96B7A6 !important;
  border-color: #96B7A6 !important;
}

.ant-btn-primary:hover {
  background-color: #6B9080 !important;
  border-color: #6B9080 !important;
}


/* ----- Responsiveness ---------- */
@media (max-width: 575px) {
  main {
    padding: 2rem;
  }
  .ant-layout-header {
    height: 5rem;
    line-height: 5rem;
  }
  .content-row {
    display: grid;
  }

  .content-row .ant-col {
    width: 100%;
    max-width: 100%;
  }
  
  .ant-btn,
  .ant-btn-primary {
    padding: 0 1rem !important;
    font-size: 1.6rem;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Medium devices (Tablet) */
@media (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 3rem;
  }

  .ant-card-head {
    padding: 0 1.6rem !important;
  }

  .ant-card-body {
    padding: 1.6rem !important;
  }
  .ant-btn,
  .ant-btn-primary {
    padding: 0 1rem !important;
    font-size: 1.6rem;
  }

  .content-row {
    display: grid;
  }
  .content-row .ant-col {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 3rem;
  }

  .ant-card-head {
    padding: 0 1.6rem !important;
  }
  .ant-card-body {
    padding: 1.6rem !important;
  }
}
